@color: #121212;

body {
  background-color: @color
}

.logo {
  width: 200px;
  height: 100px;
  background-image: url(../images/vuetify-logo-light.png);
  background-size: contain;
  background-repeat: no-repeat;
}